<nav class="bg-white py-3 absolute top-10 w-full">
  <div class="flex flex-row">
    <div class="w-3/5">
      <img
        src="../../../assets/img/LifeBook2 1.png"
        alt=""
        class="w-1/6 pl-10"
      />
    </div>
    <div>
      <ul class="flex flex-row pt-5 justify-evenly">
        <li
          class="mr-10 hover:border-b-2 hover:border-black pb-4 hover:font-semibold hover:cursor-pointer"
        >
          Inicio
        </li>
        <li
          class="mr-10 hover:border-b-2 hover:border-black pb-4 hover:font-semibold hover:cursor-pointer"
        >
          Destacados
        </li>
        <li
          class="mr-10 hover:border-b-2 hover:border-black pb-4 hover:font-semibold hover:cursor-pointer"
        >
          Salud
        </li>
        <li
          class="mr-10 hover:border-b-2 hover:border-black pb-4 hover:font-semibold hover:cursor-pointer"
        >
          Mi Perfil
        </li>
        <li
          class="mr-10 hover:border-b-2 hover:border-black pb-4 hover:font-semibold hover:cursor-pointer"
        >
          Login
        </li>
      </ul>
    </div>
  </div>
</nav>
